# Cityscapes/dataset.py: 131
matplotlib==3.8.0
# Cityscapes/metrics.py: 15
# Cityscapes/train.py: 21
# Cityscapes/utils.py: 12
numpy==1.26.0
# Cityscapes/dataset.py: 10
Pillow==10.1.0
# Cityscapes/train.py: 19
PyYAML==6.0.1
# Cityscapes/dataset.py: 11
# Cityscapes/loss.py: 7
# Cityscapes/metrics.py: 14
# Cityscapes/models.py: 7,8
# Cityscapes/schedulers.py: 8
# Cityscapes/train.py: 20,24,25
# Cityscapes/utils.py: 11,13
torch==2.1.0
# Cityscapes/train.py: 23
torchvision==0.16.0
# Cityscapes/train.py: 22
tqdm==4.66.1
